.text{
  display: table-cell;
  float: right;
}

.search-row{
  width: 300px;
  
}

/* @media (max-width: 400px) {
  .bgImageRight {
    height: 150px;
    width: 150px;
  }}

@media (min-width: 500px) {
  .bgImageLeft {
    height: 150vh;
  }} */

  