.img-container{
    width: clamp(140px,40vw,250px);
    height: clamp(140px,40vw,250px);
    border: 5px solid #81B03E;
    border-radius: 17px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-img{
    width: 80%;
}
.icon-direction{
    width: clamp(20px,3vw,30px);
}
.card-store-text h1{
    font-weight: bold;
    font-size: clamp(17px,5vw,32px);
    margin-bottom: clamp(2px,1vw,10px);
    color: #333333;

}
.card-store-text p{
    color: #5B5757;
    margin-bottom: clamp(5px,2vw,18px);
    font-size: clamp(12px,3vw,24px);
}
.card-store-text .card-direction{
    display: flex;
    gap: 5px;
}
.card-store-text .card-direction p{
    color: #5B5757;
    font-size: clamp(9px,2vw,18px);
    line-height: clamp(14px,5vw,20px);
}
 .btn-card-store{
    padding: clamp(1px,1vw,10px);
    background: #607D33;
    width: 90%;
    border-radius: 9px;
    border-color: unset;
    font-weight: 600;
    font-size: clamp(12px,3vw,22px);
}
.btn-card-store:hover,.btn-card-store:focus,.btn-card-store:active:focus{
    color: #fff;

    background-color: #446417;
    border-color: unset;
    box-shadow: none;
}
/* @media (min-width: 992px) and (max-width: 1199px) {
    
.card-store-text h1{
    font-size: clamp(30px,5vw,40px);
    margin-bottom: clamp(2px,1vw,10px);
}
.card-store-text p{
    color: #5B5757;
    margin-bottom: clamp(5px,2vw,18px);
    font-size: clamp(12px,3vw,24px);
}
} */