.section-header{
    margin-bottom: 50px;
}

#cardListStore{
    padding: 30px;
}
#cardListStore .section-header{
    gap: 15px;
}

#cardListStore .section-header h1{
    font-weight: 700;
    font-size: 30px;
    color: #575757;
}
.card-list-content{
    max-height: 580px;
    overflow-y: scroll;
}
#cardListStore .section-header img{
    height: 60px;

}
.parrafo-error{
    font-weight: 700;
    font-size: clamp(16px, 5vw,24px);
    color: #7a7a7a;
    
}
.content-scroll-hidden{
    overflow: hidden;
    height: 550px;
    opacity: .8;
    transition: opacity .4s
}
.content-scroll-auto{
    overflow-x: hidden;
    height: 100%;
  
}

.content-scroll-auto::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #84b818;
}

.content-scroll-hidden:hover .content-scroll-auto{
    overflow: auto;
    overflow-x: hidden;
}
.content-scroll-hidden:hover {
    opacity: 1;
}
@media (min-width: 576px) {
    #cardListStore{
        padding: 50px;
    }
    .map-content{
        margin-top: 30px;
        
 }
}
 @media (min-width: 768px) {
    #cardListStore{
        padding: 80px;
    }
    .section-header{
        margin-bottom: 100px;
    }
    #cardListStore .section-header h1{
        font-size: 36px;
    }
 }