#product-grid{
    background-color:#F1EEE7;
    padding-top: 80px;
}
#product-grid .container-products{
    padding-top: 50px;
}
.product-icon-error{
     color: #a1a1a1;
      width: clamp(100px,30vw,200px);
      margin-bottom: 20px;
}
.product-font-error{
    color: #a1a1a1;
    font-size: clamp(16px, 3vw,30px);
    margin-bottom: 20px;
}
.text-store-disponible{
    margin-bottom: clamp(30px,3vw,60px);
    font-size: clamp(12px,3vw,26px);
}
.text-store-disponible i{
    margin-right: clamp(10px,3vw,20px);
}

@media (min-width:768px){
    #product-grid .container-products{
        padding: 100px 0 ;

    }
}