
.main-header {
    width: 100%;
    height: 94px;
    background: white;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    /* justify-content: space-between;
    padding: 20px 45px;
    align-items: center; */
    }
    
    .logo {
    width: 155px;
    height: 36px;
    margin: 29px 0;
    }
    
    .logo:hover {
    filter: grayscale(1)
    }
    
    .main-menu {
    float: right;
    margin-right: 49px;
    }
    
    .main-menu li {
    display: inline-block;
    line-height: 90px;
    list-style-type: none;
    font-family: Raleway;
    margin: 0  18px;
    
    }
    
    .main-menu_link {
    /*modifica a dentro de ul*/
    text-decoration: none;
    color: black;
    transition: all ease 0.8s;
    font-size: 18px;
    
    }
    .main-menu_link:hover {
    color:#78A34A;
    font-weight: 600;
    }
    .main-menu_link:hover .icon-navbar{
        color:#5a5a5a;
        }
    .icon-navbar{
    color:#78A34A;
    transition: all ease .8s;
    }
    
    .checkbtn {
    float: right;
    margin: 25px 13px;
    cursor: pointer;
    display: none;
    font-size: 25px;
    
    }
    
    #check {
    display: none;
    }
    /*css navbar cuando el usuario esta logeado*/
    .nav-profile-user-link{
        text-decoration: none;
        transition: all ease 0.8s;
        font-size: 18px;
        cursor: pointer;
        margin-right: 40px;
        color:#80b03d;
        font-weight:600;
    }
    .nav-profile-user-link:hover{
        color: #80b03d;
        font-weight: 600;
    }
    .nav-profile-user-icon{
        font-size: 24px;
        color: #80b03d;
        margin-right: 10px;
        transition: all ease .8s;
    }
    .nav-item:hover .nav-profile-user-icon{
        color:#595959;
    }
    
#btn-logout{
    border-radius: 22px;
    color: #686767;
    border: 2px solid #8a8888;
    height: clamp(30px,5vw,40px);
    font-size: clamp(12px,3vw,18px);
    font-weight: 700;
    align-items: center;
}
#btn-logout i{
    font-size: clamp(12px,5vw,22px);
    margin-right: 5px;
}
.btn-outline-success:active:focus {
    box-shadow: unset;
}
#btn-logout:hover{
    background-color: #fd6c67;
    color: #fff;
    border: solid 1px #FD6C67;
}

    @media (max-width:858px) {
    
    .checkbtn {
    display: block;
    
    }
    
    .main-header {
    width: 100%;
    height: 70px;
    background: white;
    /* justify-content: space-between;
    padding: 20px 45px;
    align-items: center; */
    
    }
    .main-menu {
    position:absolute;
    top: 70px;
    width: 100%;
    height: 110px;
    font-family: Raleway;
    text-align: left;
    transition: all .5s;
    color: #6A6A6A;
    display: block;
    left: -100%;
    background-color: white;
    
    }
    
    .logo {
    width: 97px;
    height: 23px;
    top: 0;
    text-align: left;
    
    }
    
    .main-menu li {
    display: block;
    margin: 10px 0 0 20px;
    line-height: 10px;
    }
    .main-menu_link {
    font-size: 20px;
    } 
    
    .open .main-menu {
    left: 0;
    
    }
    .open .main-menu_link {
    /*modifica a dentro de ul*/
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0em;
    color: black;
    }
    .open .main-menu_link:hover {
    color:#78A34A;
    font-weight: 600;
    }
    .open .checkbtn{
    border:1px solid #78A34A;
    border-radius:3px;
    padding: 0 8px;
    transition: all .5s;
    }
    #btn-logout{
        margin-top:20px;
    }
    
    
    }
    